{{ define "main" }}

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-11">
        <article>
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            {{ partial "metadata.html" . }}
            {{ if and (gt .WordCount 400 ) (.Params.toc) }}
            <hr class="rainbow">
            <strong>Table of contents</strong>
            {{ .TableOfContents }}
            {{ end }}
            <hr class="rainbow">
            {{ .Content }}
        </article>

        {{ if not .Params.hide_comments }}
        <hr class="rainbow">
        {{ template "_internal/disqus.html" . }}
        {{ end }}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-11">
        <div class="row">
            <div class="col-md-6">
                {{ if .NextPage }}
                <div class="card">
                    <img src="{{ absURL .NextPage.Params.headerImage }}" class="card-img-top card-img-height"
                         alt="{{ .NextPage.Title }}">
                    <div class="card-body">
                        <span class="card-title" title="{{ .NextPage.Title }}">
                            {{ .NextPage.Title | truncate 30 "..." }}
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{{ .NextPage.Permalink }}" class="btn btn-primary">&laquo; Next</a>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-md-6">
                {{ if .PrevPage }}
                <div class="card">
                    <img src="{{ absURL .PrevPage.Params.headerImage }}" class="card-img-top card-img-height"
                         alt="{{ .PrevPage.Title }}">
                    <div class="card-body">
                        <span class="card-title" title="{{ .PrevPage.Title }}">
                            {{ .PrevPage.Title | truncate 30 "..." }}
                        </span>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{{ .PrevPage.Permalink }}" class="btn btn-primary">Previous &raquo;</a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}