{{- if not .PublishDate.IsZero -}}
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    📅
    <time class="dt-published" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time> &mdash;
{{ end }}
{{- if .WordCount -}}
🧮 {{ .WordCount }} words
{{- end -}}
{{ with .Params.tags }}
&mdash; 🏷️
    {{ range . }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="p-category" href="{{ $href }}" rel="tag"><span class="badge bg-secondary">{{ . }}</span></a>
    {{ end }}
{{- end -}}