<figure class="figure float-end">
    <img class="figure-img img-fluid rounded" src="/img/avatar.jpg" alt="Black and white picture of Gerben Jacobs" width="150">
</figure>
<strong>Hi!</strong>
<p>
    I’m a 36-year-old software engineer from The Netherlands. My interests lie with
    (web)development, databases, design patterns, social media, communities, APIs and open data.
</p>

<p>
    More about me, including links to other online services, can be found at <a href="https://gerben.dev">gerben.dev</a>
</p>

{{ partial "tags.html" . }}

<h3 class="mt-4">Socials</h3>
<div class="list-group">
    <a href="https://twitter.com/gerbenjacobs" class="list-group-item list-group-item-action" style="color: #1DA1F2;">
        <img src="/img/social/twitter.svg" alt="Twitter" style="width: 1rem;"> <b>Twitter</b>
    </a>
    <a href="https://github.com/gerbenjacobs" class="list-group-item list-group-item-action" style="color: #181717;">
        <img src="/img/social/github.svg" alt="GitHub" style="width: 1rem;"> <b>GitHub</b>
    </a>
    <a href="https://todon.nl/@gerben" class="list-group-item list-group-item-action" rel="me" style="color: #6364FF;">
        <img src="/img/social/mastodon.svg" alt="Mastodon" style="width: 1rem;"> <b>Mastodon</b>
    </a>
    <a href="https://linkedin.com/in/gerbenjacobs" class="list-group-item list-group-item-action" style="color: #0A66C2;">
        <img src="/img/social/linkedin.svg" alt="LinkedIn" style="width: 1rem;"> <b>LinkedIn</b>
    </a>
</div>

<h3 class="mt-4">Meta</h3>
<div class="list-group">
    <a href="/index.xml" class="list-group-item list-group-item-action" style="color: #FFA500;">
        <img src="/img/social/rss.svg" alt="RSS" style="width: 1rem;"> <b>RSS</b>
    </a>
    <a href="/sitemap.xml" class="list-group-item list-group-item-action" style="color: #07075d;">
        <img src="/img/social/sitemap.png" alt="Sitemap" style="width: 1rem;"> <b>Sitemap</b>
    </a>
    <a href="/posts/archive/" class="list-group-item list-group-item-action" style="color: #fc466b;">
        <img src="/img/social/archive.png" alt="Posts archive" style="width: 1rem;"> <b>Posts archive</b>
    </a>
</div>