{{ define "main" }}

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-11">
        <h1>404!!</h1>

        <p>Can't find what you're looking for.</p>
        <p>Why don't you try one of the following options?</p>
        
        <p>
            <a href="/" class="btn btn-success">⬅️ Return home</a>
            or
            <a href="/posts/archive/" class="btn btn-secondary">🗃️ Check out the archive</a>
            or
            <a href="/tags/" class="btn btn-info">🏷️ Browse by tag</a>
        </p>

        <figure class="figure">
            <img loading="lazy" class="figure-img img-fluid rounded" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTcyNDUzbTF4b3k4bXE4Ym14aXkza3piMXlqaWFtdzh1dzJvN2k5ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xTiN0L7EW5trfOvEk0/giphy.webp" alt="Oops, not found!">
            <figcaption class="figure-caption">By Alex Bobeda, https://ultimateactx.carrd.co/</figcaption>
        </figure>
        
    </div>
</div>

{{ end }}